*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.logo{
   width: 65px;
   height: 65px;
   padding: 5px;
   margin-left:10px;
}

/* Navbar */
.navbar_main{
   background-color: white;
   width: 100%;
   display: flex;
   height: 70px;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-family: 'Ysabeau Infant', sans-serif;
   position: fixed;
   z-index: 9999;
}

.navlinks{
   display: flex;
   flex-direction: row;
   align-items: center;
   list-style: none;
   text-decoration: none;
   font-size: 20px;
   letter-spacing: 2px;
   font-weight: 500;
}

.navlinks li a{
   padding: 10px;
   list-style: none;
}

li {
   padding: 10px;
   list-style: none;
}

a{
   text-decoration: none;
}

.userUi{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.userInfo{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.userIcons{
   display: block;
   margin: 0.5rem;
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
 }

 .userIcons i{
   padding: 5px;
   position: relative;
   z-index: -1;
 }

 .userIcons span{
   position: absolute;
   margin-top: -2.2rem;
   margin-left: 1rem;
   font-size: 1rem;
   background-color: #8F7D6D;
   color: white;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateX(20px);

 }

@media screen and (min-width:750px) {
   .userIcons{
     display: none;
   }
}

.bookBtn{
  margin-left: 10px;
  margin-right: 10px ;
  padding: 5px;
  align-items: center;
  background-color: #8F7D6D;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-family: 'Bacasime Antique', serif;
}

.bookBtn a{
   color: white;
}

.navIcons{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.navIcons i{
   padding: 5px;
}

.toggle_btn{
   margin-right: 2rem;
   display: none;
}

.toggle_btn i:hover{
   cursor: pointer;
}

button{
   cursor: pointer;
}

/* Drop down Menu */
.dropdown{
   display: none;
   position: absolute;
   top:70px;
   right: 2rem;
   width: 300px;
   height: 0;
   background-color: #8F7D6D;
   backdrop-filter:blue(15px);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   overflow: hidden;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   text-align: center;
   transition: height .6s cubic-bezier(0.165, 0.84, 0.44, 1) ;
}

.bookBtn2{
   padding: 8px;
   width: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:rgb(255, 255, 255,0.7);
   font-weight: bold;
   font-size: 0.8rem;
   color: #5a5555;
   letter-spacing: 3px;
   margin: auto;
   border: none;
   border-radius: 5px;
   margin-top: 2rem;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
 } 

 .dropdown a:hover{
   text-decoration: underline;
   text-decoration-color: white;
   transition: all;
 }

/* Allows the drop down to occure along side the above code */
.dropdown.open{
   height: 400px;
}

.dropdown li{
   padding: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center; 
   color: white;
}

.dropdown li a{
   color: white;
   font-size: 2rem;
   letter-spacing: 3px;
}

.dropdownlist{
   height: 500px;
   align-items: center;
   margin-top: 3rem;
}


/* Responsive */
@media (max-width:750px){
   .navbar_main .navlinks,
   .navbar_main .bookBtn,
   .navbar_main .navIcons{
      display: none;
   }

   .navbar_main .toggle_btn{
      display: block;
   }

   .dropdown{
      display: block;
      left:0;
      width: 100%;
   }
}

/* ProductList */
a{
   text-decoration: none;
   color: rgb(87, 77, 77);
}

.productListContainer{
   width: 900px;
   max-width: 90vw;
   text-align: center;
}

.title{
   font-size: xx-large;
   padding-top: 2rem;
   padding-bottom: 2rem;
   letter-spacing: 6px;
   font-family: 'Bacasime Antique', serif;
   color: #8F7D6D;
}

.productListContainer{
   width: 1200px;
   margin: auto;
   max-width: 90vw;
   transition: 1s;
}

.productSection .productItem img{
      width: 180px;
      height: 150px;
      border-radius: 20px;
      filter: blur(20%);
}

.productSection{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 25px;
   padding: 10px;
   margin:2.5rem;
   margin: auto;
   filter:drop-shadow(0 5px 8px #74737369) ;
}

.productSection .productItem:hover{
   filter: drop-shadow(0 8px 7px #1e1e1e69);
   transition: cubic-bezier(0.075, 0.82, 0.165, 1);
   transition: ease-in-out;
}

.productSection .productItem{
   background-color: whitesmoke;
   padding: 20px;
   border-radius: 20px;
}

.productSection .productItem h2{
   font-size: 12px;
   text-transform: uppercase;
   padding: 5px;
   letter-spacing: 2px;
   white-space: nowrap;
}

.productSection .productItem p{
   letter-spacing: 2px;
   padding-top: 15px;
}

@media screen and (max-width:992px) {
   .productSection{
      grid-template-columns:repeat(3, 1fr) ;
   }
}

@media screen and (max-width:768px) {
   .productSection{
      grid-template-columns:repeat(2, 1fr) ;
   }
}

.productItem button{
   padding: 5px;
   border: none;
   border-radius: 5px;
   width: fit-content;
   font-size: 10px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   color: white;
   background-color:#7c614a;
   letter-spacing: 1px;
   white-space: nowrap;
   margin: auto;
   margin-top: 1rem;
}

.detailBtns .infoBtn{
   background-color: #bda189;
   color: rgb(255, 255, 255);
}

.detailBtns{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
}

/* Cart */

.cartIcon{
   margin-bottom: 2rem;
   cursor: pointer;
   margin-right: 1rem;
}

.belowNav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   width: 100%;
   padding-top: 6rem;
}

.backIcon a{
   margin-left: 2rem;
   align-items: center; 
   display: flex;
   top: 0;
   left: 0;
}

.backIcon:hover{
   cursor: pointer;
}

.totalValue{
   z-index: 1;
   font-size:0.8rem;
   position: absolute;
   border-radius:50%;
   transform: translateX(20px);
   background-color:#c5a58a;
   width: 25px;
   align-items: center; 
   color: rgb(255, 255, 255);
   font-weight: 700;
   display: flex;
   margin-top: -2.5rem;
   right: 0;
   justify-content: center;
   height: 25px;
   padding: 2px;
   font-family: 'Ysabeau Infant', sans-serif;
   margin-right: 2rem;
}

.cart{
   color: #fff;
   position: fixed;
   width: 400px;
   max-width: 80vw;
   height: 100vh;
   background-color: #0E0F11;
   top: 0px;
   right: -100%;
   display: grid;
   grid-template-rows: 50px 1fr 50px;
   gap: 5px;
   transition: right 1s;
}

.cartHeader{
   color: white;
   padding-top: 5rem;
   text-align: left;
   padding-left: 1.8rem;
   letter-spacing:4px;
   text-transform: uppercase;
   /* font-family: 'Bacasime Antique', serif; */
   z-index: 1;
   font-size: 18px;
   width: 100%;
   height: 20px;
}

.cartItemHeader h2{
   text-align: center;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.cartItemHeader p{
   letter-spacing: 3px;
   font-family: 'Ysabeau Infant', sans-serif;
}

.cartImageContainer img{
   width: 85px;
   height: 85px;
   border-radius: 20px;
}

.quantity{
   display: flex;
   flex-direction: row;
   align-items: center;
   font-family: 'Ysabeau Infant', sans-serif;
}

.quantity button{
   padding: 5px;
   margin: 5px;
   border-radius: 10%;
   border: none;
   font-size: 15px;
   background-color: #aa907a;
   color: white;
   font-weight: 700;
}

.cartItemsList{
  margin-top: 3rem;
}

.cartItem{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex: 1fr 1fr;
   color: white;
   align-items: center;
   padding-top: 0.5rem;
   margin: 1rem;
}

.cartBtns{
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: center;
   margin: auto;
}

.close{
   display: flex;
   width: 200px;
   height: 50px;
   padding-top: 5px;
   /* background-color:#836e5d; */
   justify-content: center;
   letter-spacing: 2px;
   font-family: 'Ysabeau Infant', sans-serif;
   cursor: pointer;
   padding-top: 1rem;
}

.checkout{
   display: flex;
   width: 200px;
   height: 50px;
   padding-top: 5px;
   background-color: #aa907a;
   justify-content: center;
   letter-spacing: 2px;
   font-family: 'Ysabeau Infant', sans-serif;
   cursor: pointer;
   padding-top: 1rem;
}

.checkout a{
   color: wheat;
}

.close:hover{
   font-weight: 500;
   transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
   color: #c9aa90;
}

.checkout:hover{
   filter: invert(2%);
}

 /* Footer */
 .footer_container{
   width: 100%;
   height: 50vh;
   background-color: black;
   color: white;
   margin: auto;
   margin-top: 5rem;
 }

 .top_footer{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   margin: auto;
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   background-clip: border-box;
 }

 .footer_slogan{
   white-space: nowrap;
   transform: rotate(-90deg);
   transform-origin: left; /* Set the rotation origin to the left */
   writing-mode:horizontal-tb;
   align-items: center;
   justify-content: center;
   margin-top: 15rem;
   margin-left: 1.2rem;
   font-size: 0.6rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
 }

 .footer_details{
   padding-bottom: 12rem;
   text-align: center;
   padding: 2rem;
   margin: auto;
 }

 .location{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }
 .hours{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }

 .contact{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }

 .slogan_footer{
   text-align: left;
 }

 .footer_header{
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   font-size: 18px;
   letter-spacing: 5px;
   padding: 8px;
   white-space: nowrap;
   text-align: center;
   align-items: center;
 }

 .location_pin{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .week{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .weekend{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .landline{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

.whatsapp{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
}

.email{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
}

.bottom_footer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   height: 10vh;
   background-color: white;
   color: black;
   margin-top: 1.8rem;
}

.copyright{
   text-transform: uppercase;
   font-size: 8px;
   margin: auto;
   text-align: left;
   letter-spacing: 2px;
   font-weight: 800;
}

.icons{
   text-transform: uppercase;
   font-size: 10px;
   margin: auto;
}

.icons:hover{
   cursor: pointer;
}

.icons i{
   padding: 2px;
}
/* font-family: 'Bacasime Antique', serif;
font-family: 'Ysabeau Infant', sans-serif; */