*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* Navbar */
.navbar_main{
   background-color: white;
   width: 100%;
   display: flex;
   height: 70px;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-family: 'Bacasime Antique', serif;
   position: fixed;
   z-index: 9999;
}

.logo{
   width: 65px;
   height: 65px;
   padding: 5px;
   margin-left:10px;
}

.logo:hover{
   cursor: pointer;
}

.navlinks{
   display: flex;
   flex-direction: row;
   align-items: center;
   list-style: none;
   text-decoration: none;
   font-size: 20px;
   letter-spacing: 2px;
   font-weight: 500;
}

.navlinks li a{
   padding: 10px;
   list-style: none;
}

li {
   padding: 10px;
   list-style: none;
}

a{
   text-decoration: none;
}

.userUi{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.bookBtn{
  margin-left: 10px;
  margin-right: 10px ;
  padding: 5px;
  align-items: center;
  background-color: #8F7D6D;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-family: 'Bacasime Antique', serif;
}

.bookBtn a{
   color: white;
}

.navIcons{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.navIcons i{
   padding: 5px;
}

.toggle_btn{
   margin-right: 2rem;
   display: none;
}

.toggle_btn i:hover{
   cursor: pointer;
}

button{
   cursor: pointer;
}

/* Drop down Menu */
.dropdown{
   display: none;
   position: absolute;
   top:70px;
   right: 2rem;
   width: 300px;
   height: 0;
   background-color: #8F7D6D;
   backdrop-filter:blue(15px);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   overflow: hidden;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   text-align: center;
   transition: height .6s cubic-bezier(0.165, 0.84, 0.44, 1) ;
   z-index: 1001;
}

.bookBtn2{
   padding: 8px;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:white;
   font-weight: bold;
   font-size: 1.5rem;
   color: #5a5555;
   letter-spacing: 2px;
   margin: auto;
   border: none;
   border-radius: 5px;
   margin-top: 2rem;
   font-family: 'Bacasime Antique', serif;
 } 

 .dropdown a:hover{
   text-decoration: underline;
   text-decoration-color: white;
   transition: all;
 }

/* Allows the drop down to occure along side the above code */
.dropdown.open{
   height: 500px;
   z-index: 1001;
}

.dropdown li{
   padding: 0.7rem;
   display: flex;
   align-items: center;
   justify-content: center; 
   color: white;
}

.dropdown li a{
   color: white;
   font-size: 3rem;
}

.dropdownlist{
   height: 500px;
   align-items: center;
   margin-top: 3rem;
}


/* Responsive */
@media (max-width:750px){
   .navbar_main .navlinks,
   .navbar_main .bookBtn,
   .navbar_main .navIcons{
      display: none;
   }

   .navbar_main .toggle_btn{
      display: block;
   }

   .dropdown{
      display: block;
      left:0;
      width: 100%;
   }
}

body{
   background-color: #C8AB92;
}


/* Banner */

.bannerDetails{
   margin: auto;
   width: 86%;
   white-space:wrap;
   text-align: center;
   font-family: 'Bacasime Antique', serif;
   font-size: 25px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 5px;
   line-height: 40px;
   color: #473f37;
}

.srvBanner{
   background-image: url('/src/assets/srvImg/serviceBanner.jpg');
   height: 600px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.bannerBtns{
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 2rem;
}

.bookBtn{
   background-color:#B6A18E;
   padding: 10px;
   width: 10rem;
   font-size: 13px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
   letter-spacing:3px;
   border: none;
   border-radius: 5px;
   color: white;
   border: 0.5px solid #C8AB92;
}

.cntBtn{
   background-color:#C8AB92;
   padding: 10px;
   width: 10rem;
   font-size: 13px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   letter-spacing:3px;
   align-items: center;
   margin-left: 1rem;
   border: none;
   border-radius: 5px;
   border: 0.5px solid #B6A18E;
}

/* Main Body */
.serviceContainer{
   width: 100%;
   text-align: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.srvBox{
   width: 100%;
   height: 40vh;
   display: flex;
   justify-content: center;
}

.srvDecription{
   width: 90%;
   font-size: 22px;
   line-height: 28px;
   /* letter-spacing: 2px; */
   font-family: 'Bacasime Antique', serif;
   color: #6b4a2ef1;
   margin: 1rem;
   font-weight: 700;
   text-align: center;
   margin: auto;
}

.srvListContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 2rem;
   width: 100%;
}

.srvItemContainer{
   display:flex;
   flex-direction: row;
   margin-top: 2rem;
   background-color: whitesmoke;
   width: 100%;
}

.imgContainer{
   width: 100%;
   height: 320px;
}

.srvImg{
   width: 100%;
   height: 320px;
   object-fit: cover;
}

.selectBooking{
   margin: auto;
   padding: 10px;
}

.selectBooking button{
   padding: 12px;
   width: 9rem;
   font-size: 12px;
   font-family: 'Bacasime Antique', serif;
   font-weight: 700;
   text-transform: uppercase;
   border: none;
   background-color: #aa9582cc;
   color: white;
   border-radius: 5px;
}

.selectBooking button:hover{
   background-color: #aa9582f1;
}

.srvDetails{
   text-align: center;
   align-items: center;
   margin: 2.5rem;
   color: #8F7D6D;
}

.srvItemContainer{
   margin-top: -0.1rem;
   display: flex;
   flex-direction: column-reverse;
}

.srvDetails h2{
   width: 75%;
   font-size: 33px;
   margin: auto;
   font-family: 'Bacasime Antique', serif;
}

.srvDetails p{
   font-family: 'Ysabeau Infant', sans-serif;
   font-size: 15px;
   width: 95%;
   text-align: center;
   align-items: center;
   margin: auto;
   letter-spacing: 2px;
   line-height: 20px;
   padding: 15px;
}

@media screen and (min-width:600px) {
   .srvDecription{
      padding: 2rem;
      width: 80%;
      line-height: 28px;
      font-size: 20px;
   }
}

@media screen and (min-width:750px) {

   .srvItemContainer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      width: 100%;
      height: 465px;
   }

   .srvDecription{
      padding: 2rem;
      width: 75%;
      line-height: 35px;
      font-size: 22px;
      letter-spacing: 2px;
   }

   .imgContainer{
      width: 50vw;
      height: 50vh;
   }

   .srvImg{
      width: 49.4vw;
      height: 50vh;
      display: block;
      object-fit: cover;
      object-position: center;
   }

   .srvItemContainer:nth-child(2){
      display: flex;
      flex-direction: row-reverse;
   }

   .srvItemContainer:nth-child(4){
      display: flex;
      flex-direction: row-reverse;

   }

   .srvItemContainer:nth-child(6){
      display: flex;
      flex-direction: row-reverse;
   }

   .srvItemContainer:nth-child(8){
      display: flex;
      flex-direction: row-reverse;
   }

   .srvDetails h2:nth-child(1){
      font-size: 30px;
   }
} 

@media screen and (min-width:1200px){

   .srvDecription{
      width: 55%;
      font-size: 22px;
      line-height: 38px;
   }

   .srvDetails p:nth-child(2){
      width: 65%;
      font-size: 16px;
      line-height: 25px;
   }

   .srvDetails p:nth-child(3){
      font-size: 28px;
   }

   .srvDetails h2:nth-child(1){
      font-size: 40px;
   }

   .srvImg{
      width: 49.5vw;
      object-position: center;
   }

}


 /* Footer */
 .footer_container{
   width: 100%;
   height: 50vh;
   background-color: black;
   color: white;
   margin: auto;
 }

 .top_footer{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   margin: auto;
   background-image: url('./assets/img/bodySwirl.png');
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   background-clip: border-box;
 }

 .footer_slogan{
   white-space: nowrap;
   transform: rotate(-90deg);
   transform-origin: left; /* Set the rotation origin to the left */
   writing-mode:horizontal-tb;
   align-items: center;
   justify-content: center;
   margin-top: 15rem;
   margin-left: 1.2rem;
   font-size: 0.6rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
 }

 .footer_details{
   padding-bottom: 12rem;
   text-align: center;
   padding: 2rem;
   margin: auto;
 }

 .location{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }

 .hours{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }

 .contact{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }

 .slogan_footer{
   text-align: left;
 }

 .footer_header{
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   font-size: 18px;
   letter-spacing: 5px;
   padding: 8px;
   white-space: nowrap;
   text-align: center;
   align-items: center;
 }

 .location_pin{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .week{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .weekend{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .landline{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

.whatsapp{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
}

.email{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
}

.bottom_footer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   height: 10vh;
   background-color: white;
   color: black;
   margin-top: 1.8rem;
}

.copyright{
   text-transform: uppercase;
   font-size: 8px;
   margin: auto;
   text-align: left;
   letter-spacing: 2px;
   font-weight: 800;
}

.icons{
   text-transform: uppercase;
   font-size: 10px;
   margin: auto;
}

.icons:hover{
   cursor: pointer;
}

.icons i{
   padding: 2px;
}

/* font-family: 'Bacasime Antique', serif;
font-family: 'Ysabeau Infant', sans-serif; */