
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.mainBody{
   background-color: #908471;
   /* background-color: #C1b59f; */
}

.subBody{
   background-size: cover;
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y: bottom;
   height: 100%;
   width: 100%;
   background-blend-mode: darken;
   background-color: rgba(255, 255, 255, 0.055);
}

.logo{
   width: 65px;
   height: 65px;
   padding: 5px;
   margin-left:20px;
}

/* Navbar */
.navbar_main{
   background-color: white;
   width: 100%;
   display: flex;
   height: 70px;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   z-index: 9999;
}

.navlinks{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   text-decoration: none;
   font-size: 13px;
   letter-spacing: 3px;
   font-weight: 500;
   text-transform: uppercase;
}


@media screen and (min-width:900px) {
   .navlinks {
      font-size: 16px;
      margin: auto;
    }
    .navlinks li a{
       margin-left: 0.8rem;
       margin-right: 1rem;
    }
}

@media screen and (min-width:1500px) {
   .navlinks {
     font-size: 18px;
     margin: auto;
   }
   .navlinks li a{
      margin-left: 2rem;
      margin-right: 2rem;
   }
}

.navlinks li a{
   padding: 3px;
   list-style: none;
   color: #9c8b7b;
   font-family: 'Ysabeau Infant', sans-serif;
}

li{
   padding: 5px;
   list-style: none;
}

a{
   text-decoration: none;
}

.userUi{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.userInfo{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.userIcons{
   display: block;
   margin: 0.10;
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
 }

 .userIcons i{
   padding: 5px;
 }

 @media screen and (min-width:750px) {
   .userIcons{
     display: none;
   }
}

.bookBtn{
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 1rem;
  color: pink;
 }
 

.bookBtn a{
   color: white;
}

.navIcons{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.navIcons i{
   padding: 5px;
}

.toggle_btn{
   margin-right: 2rem;
   display: none;
}

.toggle_btn i:hover{
   cursor: pointer;
}

button{
   cursor: pointer;
}

/* Drop down Menu */
.dropdown{
   display: none;
   position: absolute;
   top:70px;
   right: 2rem;
   width: 300px;
   height: 0;
   background-color: #8F7D6D;
   backdrop-filter:blue(15px);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   overflow: hidden;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   text-align: center;
   transition: height .6s cubic-bezier(0.165, 0.84, 0.44, 1) ;
   z-index: 1001;
}

.bookBtn2{
   padding: 8px;
   width: 170px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:white;
   font-weight: bold;
   font-size: 1rem;
   color: #5a5555;
   letter-spacing: 2px;
   margin: auto;
   border: none;
   border-radius: 5px;
   margin-top: 2rem;
   font-family: 'Bacasime Antique', serif;
   text-transform: uppercase;
 } 

 .dropdown a:hover{
   text-decoration: underline;
   text-decoration-color: white;
   transition: all;
 }

/* Allows the drop down to occure along side the above code */
.dropdown.open{
   height: 500px;
   z-index: 1001;
}

.dropdown li{
   padding: 0.7rem;
   display: flex;
   align-items: center;
   justify-content: center; 
   color: white;
}

.dropdown li a{
   color: white;
   font-size: 1.8rem;
   letter-spacing: 5px;
}

.dropdownlist{
   height: 500px;
   align-items: center;
   margin-top: 3rem;
}


/* Responsive */
@media (max-width:750px){
   .navbar_main .navlinks,
   .navbar_main .bookBtn,
   .navbar_main .navIcons{
      display: none;
   }

   .navbar_main .toggle_btn{
      display: block;
   }

   .dropdown{
      display: block;
      left:0;
      width: 100%;
   }
}

/* Body  */

 /* Hero Section */
#heroContainer{
   width: 100%;
   height: 60vh;
   background-color: rgb(255, 255, 255);
   padding-top: 4rem;
   display: flex;
   justify-content: center;
}

.introHeader{
   display: grid;
   place-content: center;
   text-align: center;
   margin-top: 3rem;
}

.leftSide{
   height: auto;
   background-image: url('./assets/img/banner2.jpg');
   background-position: center;
   background-size: cover;
   height: auto;
   display: flex;
   flex-direction: column;
}

.leftSide h1{
   font-size:3rem;
   color: #ffffff;
   font-family: "Playfair Display", serif;
   letter-spacing: 8px;
   font-weight: lighter;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.788);
   margin-top: 2rem;
   display: grid;
   place-items: center;
}

.leftSide p{
   font-size: 1rem;
   color: #C1b59f;
   font-weight: 600;
   letter-spacing: 2px;
   margin-top: -0.5rem;
   font-family: "Barlow Semi Condensed", sans-serif;
  font-style: italic;
}

.buttonSide{
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 2rem;
}

.buttonSide button{
   width: 10rem;
   height: 2.5rem;
   margin: 5px;
   border: none;
   font-size: 20px;
   font-family: "Barlow Semi Condensed", sans-serif;
   letter-spacing: 3px;
   padding: 5px;
   border-radius: 5px;
}


.buttonSide button:nth-child(1){
   background-color: #C1b59f;
   color: whitesmoke;
   font-size: 16px;
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.buttonSide button:nth-child(1):hover{
   border: 1px solid white;
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.buttonSide button:nth-child(2):hover{
   border:1px solid #C1b59f;
   color: #C1b59f;
}

.buttonSide button:nth-child(2){
      align-items: center;
      text-shadow: 2px 2px 2px rgba(88, 88, 88, 0.89);
      font-size: 16px;
      color: rgb(255, 255, 255);
      font-weight: 500;
      letter-spacing: 2px;
      border: none;
      background: linear-gradient(135deg, rgba(70, 69, 69, 0.1), rgba(78, 75, 75, 0));
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(6px);
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border: 1px solid rgb(255, 245, 245);
}

/* Services */

 #serviceContainer{
   width: 100%;
   height: auto;
   text-align: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 25rem;
   background-color: whitesmoke;
}

.srvBox{
   width: 100%;
   height: 40vh;
   display: flex;
   justify-content: center;
}


.srvListContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 2rem;
   width: 100%;
}

.srvItemContainer{
   display:flex;
   flex-direction: column;
   width: 100%;
}

.srvImgContainer{
   width: 100%;
   height: 300px;
}

.srvImg{
   width: 100%;
   height: 300px;
   object-fit: cover;
}


.selectBooking{
   margin-top: 10px;
}

.selectBooking button{
   padding: 10px 15px 10px 15px;
   font-size: 12px;
   font-family: "Playfair Display", serif;
   font-weight: 500;
   text-align: center;
   text-transform: uppercase;
   border: none;
   background-color: #C1b59f;
   color:whitesmoke ;
   border-radius: 2px;
}

.selectBooking button:hover{
   background-color: #aa9582f1;
}

.srvHeader{
   margin: auto;
   font-family: "Playfair Display", serif;
  font-weight: 200;
  font-style: italic;
   font-size: 20px;
   margin: 1.5rem 0 1.5rem;
   color: #C1b59f;
   padding-right:13rem;
   text-shadow:  1px 1px 1px rgba(0, 0, 0, 0.1);
   text-transform: uppercase;
   white-space: nowrap;
   letter-spacing: 1px;
}

.srvDescrption{
   padding: 1rem 0rem 2rem;
   max-width: 92%;
   margin: auto;
   font-family: "Barlow Semi Condensed", sans-serif;
   font-weight: 300;
   font-style: normal;
   letter-spacing: 1px;
   font-size: 15px;
   letter-spacing: 2px;
   line-height: 17px;
   text-align: left;

}

.srvDetails{
   text-align: center;
   align-items: center;
   margin: 2.5rem;
   color: #8F7D6D;
}

/* .srvItemContainer{
   margin-top: -0.1rem;
   display: flex;
   flex-direction: column-reverse;
} */

.moreSrvBtn{
   padding: 12px;
   width: 10rem;
   border: none;
   background-color:white ;
   display: flex;
   justify-items: center;
   margin: auto;
   margin-top: 2rem;
   border-radius: 5px;
}

.moreSrvBtn:hover{
   border: 1px solid #ffffffcc ;
   transition: ease-in;
}

.moreSrvBtn a{
   align-items: center;
   text-align: center;
   margin: auto;
   font-size: 12px;
   font-family: 'Bacasime Antique', serif;
   font-weight: 700;
   text-transform: uppercase;
   border-radius: 3px;
   color: #aa9582cc;
   letter-spacing: 3px;
}

.srvDetails h2{
   font-size: 20px;
   margin: auto;
   font-family: "Playfair Display", serif;
}

.srvDetails p{
   font-family: "Barlow Semi Condensed", sans-serif;
   font-size: 15px;
   max-width: 90%;
   text-align: center;
   align-items: center;
   margin: auto;
   letter-spacing: 2px;
   line-height: 20px;
   padding: 10px;
}

@media screen and (min-width:600px) {
   .srvDecription{
      padding: 2rem;
      width: 80%;
      line-height: 28px;
      font-size: 20px;
   }
}

@media screen and (min-width:750px) {

   .srvItemContainer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      width: 100%;
      height: 465px;
   }

   .srvDecription{
      padding: 2rem;
      width: 75%;
      line-height: 35px;
      font-size: 22px;
      letter-spacing: 2px;
   }

    .srvImgContainer{
      width: 50vw;
      height: 50vh;
   } 

   .srvImg{
      width: 49.1vw;
      height: 50vh;
      display: block;
      object-fit: cover;
      object-position: center;
   }

   .srvItemContainer:nth-child(2){
      display: flex;
      flex-direction: row-reverse;
   }

   .srvItemContainer:nth-child(4){
      display: flex;
      flex-direction: row-reverse;
   }

   .srvItemContainer:nth-child(6){
      display: flex;
      flex-direction: row-reverse;
   }

   .srvItemContainer:nth-child(8){
      display: flex;
      flex-direction: row-reverse;
   }

   .srvDetails h2:nth-child(1){
      font-size: 30px;
   }
} 



@media screen and (min-width:1200px){

   .srvDecription{
      width: 55%;
      font-size: 22px;
      line-height: 38px;
   }

   .srvDetails p:nth-child(2){
      width: 65%;
      font-size: 16px;
      line-height: 25px;
   }

   .srvDetails p:nth-child(3){
      font-size: 28px;
   }

   .srvDetails h2:nth-child(1){
      font-size: 40px;
   }

   .srvImg{
      width: 49.5vw;
      object-position: center;
   }

} 


/* About Section */

#aboutContainer{
   width: 100%;
   position: relative;
   margin: auto;
}

.aboutContent{
   background-color: #ffffff;
   position: absolute; /* Position absolutely within the parent */
   width: 100%;
   height: auto;
   z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 5px 2px 2px 2px;
   border-radius: 2px;
   box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.295);
}


.aboutHeader{
   margin: auto;
   font-family: "Playfair Display", serif;
  font-weight: 200;
  font-style: italic;
   font-size: 18px;
   margin: 1.5rem 0 1.5rem;
   color: #C1b59f;
   padding-right:15rem;
   text-shadow:  1px 1px 1px rgba(0, 0, 0, 0.1);
   text-transform: uppercase;
   white-space: nowrap;
   letter-spacing: 1px;
}

.line{
   height:1px;
   width: 25%;
   background-color: #C1b59f;
   border: none;
   margin-bottom: 15px;
   margin-top: -1.3rem;
   margin-right: 15rem;
}


.details{
   padding-bottom: 1rem;
   max-width: 92%;
   margin: auto;
   font-family: "Barlow Semi Condensed", sans-serif;
   font-weight: 300;
   font-style: normal;
   letter-spacing: 1px;
   font-size: 15px;
   letter-spacing: 2px;
   line-height: 17px;
   text-align: left;
}

/* Shop */
#shopContainer {
   width: 100%;
   height: auto;
   position: relative;
   margin: auto;
   top: 21em;
 }
 
/* @media screen and (min-width:1200px) {
   #shopContainer {
      Reset margin for smaller screens
     margin-top: 15rem;
     
     padding-top: 0;
   }
 } */



 .shopHeader{
   margin: auto;
   font-family: "Playfair Display", serif;
  font-weight: 200;
   font-style: italic;
   font-size: 18px;
   margin: 1.5rem 1rem 1.5rem;
   color: whitesmoke;
   padding-right:15.5rem;
   text-shadow:  1px 1px 1px rgba(0, 0, 0, 0.1);
   text-transform: uppercase;
   white-space: nowrap;
   letter-spacing: 1px;
 }

 .line2{
   height:1px;
   width: 11%;
   background-color: whitesmoke;
   border: none;
   margin-bottom: 15px;
   margin-top: -1.3rem;
   margin-left: 1rem;
 }

 
.shopSlogan{
   padding-bottom: 1rem;
   max-width: 92%;
   margin: auto;
   font-family: "Barlow Semi Condensed", sans-serif;
   font-weight: 300;
   font-style: normal;
   letter-spacing: 1px;
   font-size: 15px;
   letter-spacing: 2px;
   line-height: 17px;
   text-align: left;
   color: whitesmoke;
}


.productBtn{
   padding: 8px;
   font-size: 15px;
   font-family: "Barlow Semi Condensed", sans-serif;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: grid;
   margin: auto;
} 


a{
   text-decoration: none;
   color: rgb(87, 77, 77);
}

.productSection .productItem img{
      width: 180px;
      height: 150px;
      border-radius: 20px;
      filter: blur(20%);
}

@media screen  and (min-width:600px) {
   .productSection{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding: 10px;
      margin:2rem;
      margin: auto;
      filter:drop-shadow(0 5px 8px #74737369);
      align-items: center;
   }
}

.productSection{
   display: grid;
   place-items: center;
   gap: 10px;
   padding: 40px;
   margin: auto;
   filter:drop-shadow(0 5px 8px #74737369);
   align-items: center;
}

.productSection .productItem:hover{
   filter: drop-shadow(0 8px 7px #1e1e1e69);
   transition: cubic-bezier(0.075, 0.82, 0.165, 1);
   transition: ease-in-out;
}

.productSection .productItem{
   padding: 5px;
   border-radius: 2px;
   margin: 5px 0px 5px;
}

.productSection .productItem h2{
   font-size: 15px;
   text-transform: uppercase;
   padding: 5px;
   letter-spacing: 2px;
   white-space: nowrap;
   font-family: "Barlow Semi Condensed", sans-serif;
   font-weight: 500;
   color: white;
   /* font-style: italic; */
   
}

.productSection .productItem p{
   letter-spacing: 2px;
   padding-top: 5px;
   font-family: "Playfair Display", serif;
   font-size: 12px;
   font-weight: 600;
   color: white; 
   padding-left: 5px;

}

@media screen and (min-width:950px) {
   .productSection{
      display: grid;
       grid-template-columns:repeat(3, 1fr) ;
       margin: auto; 
   }
}




 /* Service + Delivery Section */
#valuesContainer{
   margin-top: 5rem;
   margin-bottom: 2rem;
   align-items: center;
   display: flex;
   justify-content: center;
}

.infoContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

@media (min-width:900px) {
   .infoContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
}

.valueInfo{
   padding: 1.5rem;
   font-size: 11px;
   font-weight: bold;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
   color: #5A5555;
   width: 300px;
   line-height: 20px;
}

.valueinfoContainer{
   width: 320px;
   height: 200px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
}

.cashBack{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   line-height: 18px;
   padding-top: 1rem;
   width: 200px;
   height: fit-content;
}

.delivery{
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   line-height: 18px;
   margin-top: 1rem;
   width: 300px;
}

.security{
   margin-top: -0.2rem;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   line-height: 18px;
   padding-top: 1rem;
   width: 300px;
}


/* Contact Section */

#contactContainer{
 display: grid;
 grid-template-rows: repeat(2, 1fr);
 row-gap: 15px;
 align-items: center;
 text-align: center;
 width: 100%;
 height: 70vh;
 margin: auto;
 margin-top: 10rem;
 /* background-color: green; */
}

#contactContainer div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.contactDetails{
   width: 100%;
   margin: auto;
}

.contactDetails h2{
   font-size: 12px;
   text-transform: uppercase;
   padding-bottom: 0.2rem;
   letter-spacing: 1px;
   color: #7a6d62d3;
   padding-left: 0.5rem;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}

.contactHeader{
   font-size: 30px;
   color: #473f38d3;
   letter-spacing: 1px;
   padding: 0.5rem;
   margin-top: -0.5rem;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.123);
}

.contactsubHeader{
   width: 65%;
   padding-left: 0.6rem;
   color: rgba(255, 255, 255, 0.938);
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
   font-size: 14px;
   text-align: justify;
   letter-spacing: 2px;
   margin: auto;
}

.allInfo{
   margin-top: 1rem;
}

.contact_location h3{
   font-size: 16px;
   padding-left: 0.5rem;
   margin: 5px;
   color: #473f38d3;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.123)
}

.contact_location p{
   font-size: 14px;
   padding-left: 1rem;
   color: rgba(255, 255, 255, 0.938);
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.otherDetails{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.cnt_line{
   width: 5rem;
   height: 2px;
   background-color: #4e4a4a;
   transform: rotate(-90deg);
   transform-origin: left; /* Set the rotation origin to the left */
   writing-mode:horizontal-tb;
}

.contact_times h3{
   font-size: 16px;
   padding-left: 0.5rem;
   margin: 5px;
   text-align: left;
   color: #473f38d3;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.123)
}

.contact_times p{
   font-size: 14px;
   padding-left: 1rem;
   color: rgba(255, 255, 255, 0.938);
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
   text-align: left;
}

.contact_sec h3{
   font-size: 16px;
   padding-left: 0.5rem;
   margin: 5px;
   color: #473f38d3;
   text-align: left;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.123)
}

.contact_sec p{
   font-size: 14px;
   padding-left: 1rem;
   color: rgba(255, 255, 255, 0.938);
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
   text-align: left;
}

.form-group {
margin: 25px;
}


.form-group label{
   font-size: 18px;
}

.form-group input{
   border: none;
   border-radius: 5px;
   padding: 1rem;
}


/* Social/ Instagram Carousel */

.socialContainer{
   text-align: center;
   align-items: center;
   margin-top: 5rem;
}

.carousel-slider {
   width: 100%; /* Adjust the width as needed */
   overflow: hidden;
   object-fit: contain;
   margin: 10px 0 10px;
   white-space: nowrap;
   position: relative;
 }

 /* This section creates the fading effect at the start and end of the carousel */
 .carousel-slider:before,
 .carousel-slider:after{
      position:absolute;
      top:0;
      width: 150px;
      height:100%;
      content: "";
      z-index: 2;
 } 

 .carousel-slider:before{
   left: 0;
   background: linear-gradient(to left, rgba(240,240,240,0),  #b6a18ed3);
 }

 .carousel-slider:after{
   right: 0;
   background: linear-gradient(to right, rgba(240,240,240,0),  #b6a18ed3);
 }

 .carousel-slider:hover .carousel-slide{
   animation-play-state: paused;
 }

 /* EASY CAROUSEL */
 @keyframes instaslide {
   from{
      transform: translateX(0);
   }
   to{
      transform: translateX(-100%);
   }
 }

 .carousel-slide {
   animation: 60s instaslide infinite linear ;
   display: inline-block;
 }

 .carousel-slide img{
   width: 180px;
   height: 150px;
   object-fit: cover;
 }

 @media screen and (min-width:900px) {
   .carousel-slide img{
      width: 200px;
      height: 200px;
   }
 }

 .instaHeader{
   font-family: 'Bacasime Antique', serif;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 20px;
   margin: 1.5rem;
   color: #5A5555;
   letter-spacing: 2px;
 }
 

 .instaSubHeader{
   font-size: 10px;
   text-align: center;
   color: #5A5555;
   width: 65%;
   margin: auto;
   letter-spacing: 2px;
   padding: 8px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
   margin-top: -1.5rem;
   line-height: 15px;
 }

 /* Footer */
.footer_container{
   width: 100%;
   height: 50vh;
   background-color: black;
   color: white;
   margin: auto;
   margin-top: 5rem;
 }

 .top_footer{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   margin: auto;
   background-image: url('./assets/img/bodySwirl.png');
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   background-clip: border-box;
 }

 @media screen and (min-width:800px) {
   .footer_details{
      display:flex;
      flex-direction:row;
      justify-content: space-around;
   }
 }

 .footer_slogan{
   white-space: nowrap;
   transform: rotate(-90deg);
   transform-origin: left; /* Set the rotation origin to the left */
   writing-mode:horizontal-tb;
   align-items: center;
   justify-content: center;
   margin-top: 15rem;
   margin-left: 1.2rem;
   font-size: 0.6rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
 }

 .footer_details{
   padding-bottom: 12rem;
   text-align: center;
   padding: 2rem;
   margin: auto;
 }

 .location{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }
 .hours{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }

 .contact{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }

 .slogan_footer{
   text-align: left;
 }

 .footer_header{
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   font-size: 18px;
   letter-spacing: 5px;
   padding: 8px;
   white-space: nowrap;
   text-align: center;
   align-items: center;
 }

 .location_pin{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .week{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .weekend{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .landline{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

.whatsapp{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
}

.email{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
}

.bottom_footer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   height: 10vh;
   background-color: white;
   color: black;
   margin-top: 1.8rem;
}

.copyright{
   text-transform: uppercase;
   font-size: 8px;
   margin: auto;
   text-align: left;
   letter-spacing: 2px;
   font-weight: 800;
}

.icons{
   text-transform: uppercase;
   font-size: 10px;
   margin: auto;
}

.icons:hover{
   cursor: pointer;
}

.icons i{
   padding: 2px;
}


/* Media Queries */

@media screen and (min-width:600px) {

   /* Banner */

   .leftSide{
      width: 100%;
   }
   
   .leftSide h1{
      font-size:5rem;
   }

   /* Shop */
   .shopSlogan{
      width: 65%;
   }

   /* Product */
   .productSection{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      padding: 10px;
      margin: 2rem;
   }

   /* Contact  */

   #contactContainer{
      width: 75% ;
   }

   .inputName{
     width: 45vw;
   }
   
   .inputEmail{
      width: 45vw;
      
   }
   
   .inputMessage{
      height: 100px;
      width: 45vw;
   }

   /* Services */
   .infoContainer{
      margin-top: 3rem;
   }

   /* About Section */
   .details{
      padding-top: 0.2rem;
      width: 68%;
   }
}

@media screen and (min-width:850px) {

      /* Product */
      .productSection{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 15px;
         padding: 10px;
         margin: 2rem;
      }
}

@media screen and (min-width:1200px) {

   /* Contact */
   #contactContainer{
      width: 55% ;
      height: 550px;
   }

   .inputName{
      width: 35vw;
       height: 3rem;
    }
    
    .inputEmail{
       width: 35vw;
       height: 3rem;
       
    }
    
    .inputMessage{
       height: 120px;
       width: 35vw;
    }

   /* Shop */
   .shopSlogan{
      width: 30%;
   }

   /* Product Section */
   .productSection{
      width: 65%;
      margin: auto;
   }

     /* About Section */
     .details{
      padding-top: 1rem;
      width: 75%;
   }

   #aboutContainer{
      width: 60%;
      height: 20vh;
      margin: auto;
   }

   .line{
      width: 65%;
   }
}

/* font-family: 'Bacasime Antique', serif;
font-family: 'Ysabeau Infant', sans-serif; */