
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.mainBody{
   background-color: #C8AB92;
}

.subBody{
   background-image: url('./assets/img/bodyPattern.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y: bottom;
   height: 100%;
   width: 100%;
   background-blend-mode: darken;
   background-color: rgba(255, 255, 255, 0.055);
}

.logo{
   width: 65px;
   height: 65px;
   padding: 5px;
   margin-left:10px;
}

/* Navbar */
.navbar_main{
   background-color: white;
   width: 100%;
   display: flex;
   height: 70px;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-family: 'Bacasime Antique', serif;
   position: fixed;
   z-index: 9999;
}

.navlinks{
   display: flex;
   flex-direction: row;
   align-items: center;
   list-style: none;
   text-decoration: none;
   font-size: 20px;
   letter-spacing: 2px;
   font-weight: 500;
}

.navlinks li a{
   padding: 10px;
   list-style: none;
}

li {
   padding: 10px;
   list-style: none;
}

a{
   text-decoration: none;
}

.userUi{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.bookBtn{
  margin-left: 10px;
  margin-right: 10px ;
  padding: 5px;
  align-items: center;
  background-color: #8F7D6D;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-family: 'Bacasime Antique', serif;
}

.bookBtn a{
   color: white;
}

.navIcons{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.navIcons i{
   padding: 5px;
}

.toggle_btn{
   margin-right: 2rem;
   display: none;
}

button{
   cursor: pointer;
}

/* Drop down Menu */
.dropdown{
   display: none;
   position: absolute;
   top:70px;
   right: 2rem;
   width: 300px;
   height: 0;
   background-color: #8F7D6D;
   backdrop-filter:blue(15px);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   overflow: hidden;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   text-align: center;
   transition: height .6s cubic-bezier(0.165, 0.84, 0.44, 1) ;
   z-index: 1001;
}

.bookBtn2{
   padding: 8px;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:white;
   font-weight: bold;
   font-size: 1.5rem;
   color: #5a5555;
   letter-spacing: 2px;
   margin: auto;
   border: none;
   border-radius: 5px;
   margin-top: 2rem;
   font-family: 'Bacasime Antique', serif;
 } 

 .dropdown a:hover{
   text-decoration: underline;
   text-decoration-color: white;
   transition: all;
 }

/* Allows the drop down to occure along side the above code */
.dropdown.open{
   height: 500px;
   z-index: 1001;
}

.dropdown li{
   padding: 0.7rem;
   display: flex;
   align-items: center;
   justify-content: center; 
   color: white;
}

.dropdown li a{
   color: white;
   font-size: 3rem;
}

.dropdownlist{
   height: 500px;
   align-items: center;
   margin-top: 3rem;
}


/* Responsive */
@media (max-width:750px){
   .navbar_main .navlinks,
   .navbar_main .bookBtn,
   .navbar_main .navIcons{
      display: none;
   }

   .navbar_main .toggle_btn{
      display: block;
   }

   .dropdown{
      display: block;
      left:0;
      width: 100%;
   }
}

/* Body  */

 /* Hero Section */
section#heroContainer {
   padding-top: 6rem;
   height: 600px;
   width: 100%;
   background-color: black;
   color: white;
}

.heroPattern {
   background-image: url('./assets/img/heroSection.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 480px;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
}

.heroPattern2 {
   display: flex;
   justify-content:space-between;
   align-items: center;
   text-align: center;
   width: 100%;
   padding-top: 10rem;
}

.heroImg {
   width: 50px;
   height: 50px;
}

.left_side{
   text-align: left;
   z-index: 0;
}

.slogan2{
   white-space: nowrap;
   transform: rotate(-90deg);
   transform-origin: left; /* Set the rotation origin to the left */
   writing-mode:horizontal-tb;
   align-items: center;
   z-index: -1;
   margin: 18px;
   justify-content: center;
   margin-top: 15rem;
   font-size: 0.8rem;
   color: #FFDAB9;
   font-weight: bold;
   letter-spacing: 2px;
}

.middle{
   padding-bottom: 12rem;
   margin-left: -18rem;
   text-align: left;
}

.title{
   font-size: 2.5rem;
   font-weight: lighter;
   letter-spacing: 10px;
   margin-left: -5rem;
}

.slogan{
   font-family: 'Ysabeau Infant', sans-serif;
   font-size: 1rem;
   letter-spacing: 3px;
   margin-left: -5rem;
}

.heroImg{
   width: 500px;
   height: 450px;
   margin-top: -6.6rem;
   margin-left: -30.1rem;
}

.ctaBtns{
   align-items: center;
   margin-top: 15px;
   text-align: center;
   margin-left: -9rem;
}

.ctaBtns button{
   width: fit-content;
   height: 29px;
   padding: 8px;
   font-family: 'Bacasime Antique', serif;
   font-weight: bold;
   letter-spacing: 2px;
   font-size: 12px;
   border: none;
   border-radius: 5px;
   margin: 5px;
   text-transform: uppercase;
}

/* Services */

#serviceContainer{
   height:350px;
   text-align: center;
   margin: 1rem;
}

.headers{
   margin: auto;
   font-family: 'Bacasime Antique', serif;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 20px;
   margin-top: 3rem;
   color: #5A5555;
   letter-spacing: 2px;
}

.srvcIcon{
   width: 40px;
   height:40px;
   margin: 15px;
}

@media screen and (min-width:600px) {
   .srvcIcon{
      width: 60px;
      height:60px;
      padding: 10px;
      margin: 1rem;
   }
}

.serviceIcons{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.serviceIcons p{
   font-family: 'Ysabeau Infant', sans-serif;
   color: #5A5555;
   text-transform: uppercase;
   margin-top: -0.5rem;
   font-size:10px;
   font-weight: 800;
}

@media screen and  (min-width:600px){
   .serviceIcons p{
      font-size: 16px;
   }
}

.serviceIconGroup{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.srvcBtn{
   padding: 8px;
   border: none;
   border-radius: 5px;
   width: fit-content;
   font-size: 15px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   color: white;
   background-color:#8F7D6D ;
   letter-spacing: 2px;
   margin-top: 2rem;
}

.srvcBtn a{
   color: white;
}

/* About Section */
#aboutContainer{
   background-color: rgba(255, 255, 255, 0.5);
   margin: 0.8rem;
   border-radius: 10px;
   margin-top: -7rem;
}

@media screen and (min-width:800px) {
   #aboutContainer{
      margin-left: 3rem;
      margin-right: 3rem;
   }
}

.aboutDetails{
   display: flex;
   flex-direction: row;
   justify-self: center;
   align-items: center;
   text-align: center;
}

.aboutHeader{
   font-family: 'Bacasime Antique', serif;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 20px;
   text-align: center;
   color: #5A5555;
   letter-spacing: 5px;
}

.aboutContent h1{
   padding: 1rem;
   margin: auto;
   font-size: 20px;
   letter-spacing: 2px;
   font-family: 'Bacasime Antique', serif;
}

.details{
   padding: 0.3rem;
   font-family: 'Ysabeau Infant', sans-serif;
   width: 98%;
   text-align: center;
   line-height: 20px;
   margin-top: -1rem;
}

.aboutRightSide{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-bottom: 1rem;
}

.aboutSlogan{
   display:none;
}

.aboutLeftSide{
   text-align: center;
   margin: 0.5rem;
   font-size: 14px;
   padding-bottom: 1rem;
}

.abtBtn{
   padding: 8px;
   border: none;
   border-radius: 5px;
   width: fit-content;
   font-size: 15px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   color: white;
   background-color:#B6A18E;
   margin-top: 1rem;
}

.abtBtn:hover{
   background-color:#9c8b7b;
}

/* Shop Section */

#shopContainer{
   text-align: center;
   align-items: center;
}

.shopSlogan{
   width: 90%;
   margin: auto;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   font-size: 10px;
   text-align: center;
   letter-spacing: 2px;
   margin-top: 5px;
   line-height: 18px;
}


/* Shop Carousel */

#shop_container {
   padding: 20px;
   position: relative;
   overflow: hidden;
}

.productContainer{
   padding: 0 2vw;
   display: flex;
   overflow-x: auto;
   scroll-behavior: smooth; 
}

.container1{
   padding-top: -1rem;
}

/* Massage Oil Container */
.container2{
   padding-top: -1rem;
}

.container3{
   padding-top: -2rem;
}

.productContainer::-webkit-scrollbar{
   display: none;
}

.productContainer.auto-scroll {
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.productCard{
   flex: 0 0 auto;
   width: 250px;
   height: 465px;
   margin-right: 40px;
   margin-top: 3rem;
   background-color: rgba(255, 255, 255, 0.7);
   margin-bottom: 15px;
   border-radius:10px;
}

.productThumb{
   width: 200px;
   height: 200px;
   max-width: 100%;
   border-radius: 10%;
   object-fit: cover;
}

.productImgContainer{
   position: relative;
   width: 200px;
   height: 200px;
   display: inline-block;
}

.productSize {
   position: absolute;
   bottom: 0.5rem; /* Adjust this value as needed */
   left: 72%;
   transform: translateX(-50%);
   background-color: #5a55556c;
   width: 98px;
   height: fit-content;
   color: white;
   border-radius: 10px;
   height: 2.2rem;
   letter-spacing: 2px;
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: bold;
   font-family: 'Ysabeau Infant', sans-serif;
   z-index: 1;
}

.size1{
   left: 60%;
   width: 150px;
}

.productHeader{
   font-size: 17px;
   text-align: center;
   color: #5A5555;
   padding: 5px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
}

.infoCollection{
   padding-top: 1rem;
}

.collectionOil{
   padding-top: 2.6rem;
}

.header1{
   margin: 0.2rem;
}

.header2{
   margin: 1rem;
}

.header3{
   margin: 1rem;
}

.productInfo{
   display: flex;
   flex-direction: column;
}

.productDescription{
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
   text-align:center;
   color: #5A5555;
   font-size: 11px;
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 8px;
}

.productPrice{
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
   text-align:right;
   margin: 5px;
   padding: 10px;
   color: #5A5555;
   font-size: 18px;
}

.price3{
   margin-top: 2.2rem;
}

.actionBtns{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.addBtn{
   background-color:#B6A18E ;
   padding: 8px;
   font-size: 13px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
   border: none;
   border-radius: 10px;
   color: white;
   margin-bottom: 10px;
}

.addBtn:hover{
   background-color:#C8AB92;
   cursor: pointer;
   color: black;
}

.moreInfoBtn{
   background-color:#C8AB92 ;
   padding: 8px;
   font-size: 13px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
   border: none;
   border-radius: 10px;
   margin-bottom: 10px;
}


.moreInfoBtn:hover{
   background-color:#B6A18E;
   cursor: pointer;
   color: black;
}

.function_btn{
   position: relative;
}

.pre_btn,
.next_btn{
   border: none;
   width: 10vw;
   height: 100%;
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   margin-top: 15rem;
   align-items: center;
   background: linear-gradient(90deg, rgba(175, 18, 18, 0) 0%, #C8AB92 100%); /* Corrected color value */
   cursor: pointer;
   z-index: 9;
 }
 
.pre_btn{
   left: 0;
   transform: rotate(180deg);
}

.next_btn{
   right: 0;
}

.pre_btn img,
.next_btn img{
   opacity: 0.5;
}

.pre_btn img:hover,
.next_btn img:hover{
   opacity: 1.5;
}

 /* Service + Delivery Section */
#valuesContainer{
   margin-top: 5rem;
   margin-bottom: 2rem;
   justify-content: center;
}

.infoContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

@media (min-width:900px) {
   .infoContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
}

.valueInfo{
   padding: 1.5rem;
   font-size: 11px;
   font-weight: bold;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
   color: #5A5555;
}


.cashBack{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   line-height: 18px;
   padding-top: 1rem;
}

.delivery{
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   line-height: 18px;
   margin-top: 1rem;
}

.security{
   margin-top: -0.2rem;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   line-height: 18px;
   padding-top: 1rem;
}

@media (min-width:600px) and (max-width:1200px){
   .delivery{
      width: 60%;
      padding-top: 0;
   }
   .security{
      margin: 0;
      width: 60%;
   }
   .cashBack{
      margin: 0;
      width: 80%;
   }
}

@media screen and (min-width:1200px) {
   .cashBack{
      width: 70%;
   }
}

/* Contact Section */

#contactContainer{
   display: flex;
   flex-direction: column;
   margin: auto;
   text-align: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.7);
   width: 88%;
   border-radius: 5px;
   height: 52vh;
   margin-bottom: 1rem;
   padding: 1rem;
}

.contactSwirl{
   background-image: url('./assets/img/contactSpiral2.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   width: 100%;
   height: 100%;
}

.contactHeader{
   font-family: 'Bacasime Antique', serif;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 20px;
   margin: 1rem;
   color: #5A5555;
   letter-spacing: 5px;
}

.contactsubHeader{
   margin:auto ;
   color: #8F7D6D;
   text-transform: uppercase;
   width: 70%;
   filter: drop-shadow(2px 1px 1px rgba(255, 255, 255, 0.747));
   font-size: 10px;
   letter-spacing: 3px;
   padding: 10px;
   margin-top: -1rem;
   line-height: 15px;
   font-weight: bold;
}

/* Form */
.contactForm {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
}

.form-group {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px; /* Space between input groups */
   margin: 10px;
}

label {
   font-size: 12px;
   text-align: left;
   text-transform: uppercase;
   font-family: 'Ysabeau Infant', sans-serif;
   color: #8F7D6D;
   margin-left: 4.5rem;
   font-weight: bold;
   letter-spacing: 3px;
   top: 0;
   margin: auto;
   padding: 5px;
}

input {
   width: 100%;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 5px;
   color: #8F7D6D;
   text-align: start;
   margin: auto;
}

.inputName{
   width: 60vw;
   height: 30px;
}

.inputEmail{
   width: 60vw;
   height: 30px;
}

.inputMessage{
   height: 85px;
   width: 60vw;
}

.contactBtn{
   margin: auto;
   width: 6rem;
   padding: 10px;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: white;
   border: none;
   background-color: #B6A18E;
   border-radius: 5px;
   margin-top: 1rem;
}

/* Social/ Instagram Carousel */

.socialContainer{
   text-align: center;
   align-items: center;
   margin-top: 5rem;
}

.carousel-slider {
   width: 100%; /* Adjust the width as needed */
   overflow: hidden;
   object-fit: contain;
   margin: 10px 0 10px;
   white-space: nowrap;
   position: relative;
 }

 /* This section creates the fading effect at the start and end of the carousel */
 .carousel-slider:before,
 .carousel-slider:after{
      position:absolute;
      top:0;
      width: 150px;
      height:100%;
      content: "";
      z-index: 2;
 } 

 .carousel-slider:before{
   left: 0;
   background: linear-gradient(to left, rgba(240,240,240,0),  #b6a18ed3);
 }

 .carousel-slider:after{
   right: 0;
   background: linear-gradient(to right, rgba(240,240,240,0),  #b6a18ed3);
 }

 .carousel-slider:hover .carousel-slide{
   animation-play-state: paused;
 }

 /* EASY CAROUSEL */
 @keyframes instaslide {
   from{
      transform: translateX(0);
   }
   to{
      transform: translateX(-100%);
   }
 }

 .carousel-slide {
   animation: 60s instaslide infinite linear ;
   display: inline-block;
 }

 .carousel-slide img{
   width: 180px;
   height: 150px;
   object-fit: cover;
 }

 @media screen and (min-width:900px) {
   .carousel-slide img{
      width: 200px;
      height: 200px;
   }
 }

 .instaHeader{
   font-family: 'Bacasime Antique', serif;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 20px;
   margin: 1.5rem;
   color: #5A5555;
   letter-spacing: 2px;
 }
 

 .instaSubHeader{
   font-size: 10px;
   text-align: center;
   color: #5A5555;
   width: 65%;
   margin: auto;
   letter-spacing: 2px;
   padding: 8px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   align-items: center;
   margin-top: -1.5rem;
   line-height: 15px;
 }

 /* Footer */
.footer_container{
   width: 100%;
   height: 50vh;
   background-color: black;
   color: white;
   margin: auto;
   margin-top: 5rem;
 }

 .top_footer{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   margin: auto;
   background-image: url('./assets/img/bodySwirl.png');
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   background-clip: border-box;
 }

 .footer_slogan{
   white-space: nowrap;
   transform: rotate(-90deg);
   transform-origin: left; /* Set the rotation origin to the left */
   writing-mode:horizontal-tb;
   align-items: center;
   justify-content: center;
   margin-top: 15rem;
   margin-left: 1.2rem;
   font-size: 0.6rem;
   font-weight: bold;
   letter-spacing: 2px;
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
 }

 .footer_details{
   padding-bottom: 12rem;
   text-align: center;
   padding: 2rem;
   margin: auto;
 }

 .location{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }
 .hours{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }

 .contact{
   text-align: center;
   margin: 15px;
   margin-left: -6rem;
   width: 93%;
 }

 .slogan_footer{
   text-align: left;
 }

 .footer_header{
   font-family: 'Ysabeau Infant', sans-serif;
   text-transform: uppercase;
   font-size: 18px;
   letter-spacing: 5px;
   padding: 8px;
   white-space: nowrap;
   text-align: center;
   align-items: center;
 }

 .location_pin{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .week{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .weekend{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

 .landline{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
 }

.whatsapp{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
}

.email{
   text-align: center;
   text-transform: uppercase;
   font-size: 11px;
   letter-spacing: 1px;
   font-family: 'Ysabeau Infant', sans-serif;
   line-height: 15px;
}

.bottom_footer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   height: 10vh;
   background-color: white;
   color: black;
   margin-top: 1.8rem;
}

.copyright{
   text-transform: uppercase;
   font-size: 8px;
   margin: auto;
   text-align: left;
   letter-spacing: 2px;
   font-weight: 800;
}

.icons{
   text-transform: uppercase;
   font-size: 10px;
   margin: auto;
}

.icons:hover{
   cursor: pointer;
}

.icons i{
   padding: 2px;
}

/* font-family: 'Bacasime Antique', serif;
font-family: 'Ysabeau Infant', sans-serif; */